<h3><%= @user.username if @user.username %></h3>
<p><strong>Email:</strong> <%= @user.email if @user.email %></p>
<h3>Image Posts</h3>
<hr />
<% @image_posts.each do |x| %>
    <div class="post-box well">
      <% if user_signed_in? %>
          <%= link_to "Like", like_image_path(:ref_num => x.id), type: "button", class: "btn btn-info pull-right like-button" %>
      <% end %>
      Title: <%= x.title %><br />
      <% if x.image? %>
          <%= image_tag x.image.url %>
      <% else %>
          <p class="alert">Image not found.</p>
      <% end %>
    </div>
<% end %>
<hr />
<h3>Text Posts</h3>
<% @text_posts.each do |x| %>
    <div class="post-box well">
      Posted by: <%= link_to x.user.username, x %><br />
      Title: <%= x.title %><br />
      Message: <%= x.message %>
      <% if user_signed_in? %>
          <%= link_to "Like", like_text_path(:ref_num => x.id), type: "button", class: "btn btn-info pull-right like-button" %>
      <% end %>
    </div>
<% end %>
<hr />
<h3>Likes</h3>



<% @liked_texts.each do |y| %>
    <% x = TextPost.where(id: y.id) %>
    <%= x %><br />
<% end %>


<!--#for each Vote item pulled, I must locate the TextPost ID that matches it, and print it out.-->











